:root {
  --color-prin: #00FF7C;
  --color-sec: #A500FF;
  --tx-sub: rgba(255, 255, 255, 0.5);
}

.tr-cont {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  margin: 5px 0;
  padding: 1rem;
  border: 2px solid #c4c4c4;
  border-radius: 1rem;
  transition: 0.3s;
}
.tr-text {
  width: 100%;
  height: auto;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}

.tr-icon-cont {
  display: flex;
  align-items: center;
  height: 2rem;
  margin-left: 0.5rem;
}
.tr-icon-cont img:hover {
  cursor: pointer;
}
.tr-icon-delete {
  color: var(--color-sec);
  width: auto;
  height: 2.5rem;
  transition: 0.2s;
}
.tr-icon-delete:hover {
  transform: scale(1.09);
}

.tr-icon-correct {
  color: var(--color-prin);
  width: auto;
  height: 2.5rem;
  transition: 0.2s;
}
.tr-icon-correct:hover {
  transform: scale(1.09);
}


/*-- Tarea compleatada --*/
.completada {
  border: 2px solid var(--color-prin);
  color: var(--color-prin);
  cursor: pointer;
  transition: 0.2s ease-in;
}
.completada div:nth-child(2) img:nth-child(1) {
  opacity: 50%;
}