:root {
    --color-prin: #00FF7C;
    --color-sec: #A500FF;
    --tx-sub: rgba(255, 255, 255, 0.5);
  }

.tr-form {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 1rem 0rem;
    height: 3rem;
}

.tr-input {
    width: 100%;
    height: inherit;
    font-size: 15px;
    font-weight: 500;
    color: var(--tx-sub);
    padding: 0rem 1.5rem;
    background-color: inherit;
    border-radius: 4rem;
    border: 2px solid var(--tx-sub);
    outline: none;
    transition: 0.2s;
}
.tr-input:focus {
    border-color: white;
    color: white;
}

/*-- Boton Agregar Tarea --*/
.tr-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.5rem;
    height: inherit;
    font-size: 14px;
    border: none;
    cursor: pointer;
    outline: none;
    user-select: none;
    background: #A500FF;
    color: white;
    border-radius: 3rem;
    margin-left: 0.5rem;
    font-weight: 600;
    transition: 0.2s;
}
.tr-btn:hover {
    background: rgb(173, 21, 255);
    transform: translateY(-0.2rem);
}


/*--- Estilos de alerta - campo vacio ---*/
.act {
    transition: 0.2s;
    border: 2px solid red !important;
    animation: tiembla 0.2s 2;
}
.act::placeholder {
    color: red;
    font-size: 14px;
    font-weight: 600;
    transition: 0.2s;
}

@keyframes tiembla{
    0%  { -webkit-transform: translateX(0rem); }
    50% { -webkit-transform: translateX(-0.1rem);}
    100%{ -webkit-transform: translateX(0.1rem); }
}


