* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-prin: #00FF7C;
  --color-sec: #A500FF;
  --color-thr: #FFA700;
  --tx-sub: rgba(255, 255, 255, 0.5);
}
.App {
  width: 100%;
  height: 105vh;
  padding-top: 10px;
  color: #fff;
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: #000;
  color: #fff;
}

/*--- Estilo de contenedor Author ---*/
.cont_project {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.img_author {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
  padding: 4px;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  border: 2px solid var(--color-prin);
}
h1 {
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
h6 {
  font-size: 13px;
  color: var(--tx-sub);
  font-weight: 500;
}
.author_name {
  color: var(--color-prin);
  font-weight: 600;
  text-decoration: underline;
}

/*--- Estilo de contenedor de app ---*/
.cont-tareas {
  background-color: rgba(255, 255, 255, 0.09);
  width: auto;
  max-width: 600px;
  min-height: 30rem;
  padding: 1.5rem;
  margin: 0.5rem auto;
  border-radius: 20px;
}
.cont-tareas h2:nth-child(1) {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
}

/* Linea de separacion */
.ry-div {
  border-top: 1px solid hsla(0, 0%, 100%, 0.2);
  margin: auto;
  margin-bottom: 1rem;
  width: 95%;
}

/*--- Foooter ---*/
.footer {
  width: 100%;
  max-width: 600px;
  margin: 0.5rem auto;
  padding-bottom: 1rem;
}
.f_init {
  color: #00FF7C;
}
.footer > p {
  color: var(--tx-sub);
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
.f_author {
  font-weight: 500;
  color: var(--color-thr);
}
